@page "/catalogs"
@inject CatalogService service

<h1>Catalogs</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var catalogItem in PaginatedItems.Data)
        {
            <tr>
                <td>@catalogItem.Name</td>
                <td>@catalogItem.Description</td>
                <td>@catalogItem.Price</td>
                <td>@catalogItem.AvailableQuantity</td>
            </tr>
        }
    </tbody>
</table>



@code
{

    private PaginatedItems<CatalogItem> PaginatedItems { get; set; } = new(10, 0, 0, []);

    protected override async Task OnInitializedAsync()
    {
        PaginatedItems = await service.GetAllItemsAsync();
    }
}