<mat-card class="card-product" appearance="outlined">
    <mat-card-header>
      <mat-card-title class="title-card">{{catalogItem?.name}}</mat-card-title>
      <mat-card-subtitle class="subtitle-card">{{catalogItem?.catalogBrand?.name?.toUpperCase()}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{catalogItem?.pictureBase64}}"
      alt="{{catalogItem?.name}}">
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions class="card-actions">
      <div>
        <button mat-button>Add to card</button>
        <button mat-button [routerLink]="['/products/details', catalogItem?.id]">Details</button>
      </div>
      <span class="text-price">$ {{catalogItem?.price?.toLocaleString()}}</span>
    </mat-card-actions>
  </mat-card>
