
.card-product {
  padding: 5px;
  width: 400px;
  height: 400px;
  padding: 20px;
  margin: 3%;
}

.card-actions{
  display: flex;
  justify-content: space-between;
}

img{
  background-size: auto;
  width: 150px;
  height: 150px;
  margin: auto;
}
